<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>points</key>
	<array>
		<dict>
			<key>longitude</key>
			<string>-84.396348</string>
			<key>latitude</key>
			<string>33.776328</string>
		</dict>
		<dict>
			<key>longitude</key>
			<string>-84.396248</string>
			<key>latitude</key>
			<string>33.776228</string>
		</dict>
		<dict>
			<key>longitude</key>
			<string>-84.396448</string>
			<key>latitude</key>
			<string>33.7764328</string>
		</dict>
		<dict>
			<key>longitude</key>
			<string>-84.396548</string>
			<key>latitude</key>
			<string>33.776328</string>
		</dict>
		<dict>
			<key>longitude</key>
			<string>-84.389548</string>
			<key>latitude</key>
			<string>33.807528</string>
		</dict>
		<dict>
			<key>longitude</key>
			<string>-84.396648</string>
			<key>latitude</key>
			<string>33.776628</string>
		</dict>
		<dict>
			<key>longitude</key>
			<string>-84.396748</string>
			<key>latitude</key>
			<string>33.776328</string>
		</dict>
		<dict>
			<key>longitude</key>
			<string>-84.396948</string>
			<key>latitude</key>
			<string>33.776828</string>
		</dict>
		<dict>
			<key>longitude</key>
			<string>-84.396848</string>
			<key>latitude</key>
			<string>33.776728</string>
		</dict>
		<dict>
			<key>longitude</key>
			<string>-84.396948</string>
			<key>latitude</key>
			<string>33.776128</string>
		</dict>
	</array>
</dict>
</plist>
